convert_imagenet
compile_commands.json
*.out
.DS_Store
*.hdf5
*.sublime*
tags
train.txt
test.txt
*.o
*.so
*.dylib
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
bin/convert_imagenet
sftp-config.json
*.un~
*.swp
